
.container {padding: 0px; width: 100%;}
.navbar {margin:0px;}
.image {width:60%;margin-bottom: 3px;}
img{ height:30%;}

 a:hover {
 	text-decoration: none;
 }

.glyphicon {
 	font-size: 50px;
 	color: Grey; } 

#about {padding-top:50px;height: 100%; background-color: white;}
#about h3 {margin-top: -15px; color:#707070;}
#why {padding-top:50px;height:100%; background-color: #00B2EE; }
#why h1, li, h3, .glyphicon {color:white;}
#why li {padding-left: 80px; padding-right:80px;}
#where {padding-top:50px;height:100%; background-color: white;}
#support {padding-top:50px; height: 100%; background-color: #00B2EE;}
#support span {color: black; font-weight: bold; text-decoration: none; text-transform: uppercase;}
#section1 h1 {position: absolute; margin-top: 15%; left: 8%; font-size: 8vw; width:80%;} 
#section1 img {width:100%;height: 40%;}
#why p {padding-left: 100px; padding-right:100px}
#where img {width:10;}
#navbar li {font-family: "Open Sans"; font-color: #555; font-weight: bolder; font-size: 15px;text-transform: uppercase; }
.navbar-brand {text-transform: uppercase; font-weight: bolder}
#where p {color:black; padding-left: 8%; padding-right: 8%; font-weight: 500px;}
#where .glyphicon {color:#242424;}
#about .glyphicon {color:#242424;}
#where img {}

 h1 {
 	font-color:black;
 	font-weight:bolder;
 	letter-spacing: 2px;
 	font-size:50px;
 }

p {
	font-color: black; 
	font-size:22px;
	margin-top: 30px;
	font-family: helvetica;
	padding-left: 10%;
	padding-right: 10%;

}

h3 {
	color: #707070;
	position:relative;
	margin-top: -5px;
	font-weight: 500;
	padding-left: 50px;
	padding-right: 50px;
}

.btn {
	border-radius: 10px;
  	border-color: AliceBlue;
 	color: white;
  	background-color: LightBlue;
  	padding: 20px;
  	font-family: Arial;
}


ol li {
	font-size:22px;
	margin-top: 30px;
	font-family: helvetica;
	list-style-position:inside;
	padding-left: 80%;
	padding-right: 60%;
}

.g1, .g2, .g3, .g4 {
	bottom:5px;
}

.footer {
	height:100%;
	background-color: #242424;
	vertical-align:top;
	padding:0px;
	margin:0px;

}

.column {
	display: inline-block; 
	padding-bottom: 20px;
	background-color: #e6e6e6;
	margin-top: 75px;
	padding-right: 0px;
	padding-top: 0px; 
	margin-bottom: 50px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	}


.col-md-4, .col-sm-12, img {padding-left: 0px;}

.opt {padding-right: 0px;}

.column p {padding:2% 5% 5% 5%;}


#support h1, h3 {
	padding:5px;
	color:white;
	padding-left: 10%;
	padding-right:10%;
}


#support img {
	width:100%;
	margin: 0px;
	padding: 0px;
	padding-left:0px;
}

#quote {
	font-color: #707070;
	font-family: "Lato";
	font-size: 28px;
	font-style: italic;
	max-width: 85%;
}



