body {
	background-color: #99FFFF;
}
.jumbotron p {position:relative; bottom: 600px; color: purple; font-size: 18px; left: 20px;}
.jumbotron h1 {position:relative; bottom: 600px; color:#CC33FF;}
 img{float:left; width: 100%;}
 .container {padding: 0px; width: 100%;}
 .jumbotron {margin: 0px; width:100%; padding-bottom: 0px;}
 .navbar {margin:0px;}